<%-include('partials/dashNav')-%>
<div class="kycConfirm">
    <h2>Ready For Verification</h2>
    <p>Send an email to <a href="mailto: crypleteinvestment@gmail.com">this address</a> with a copy of any government issued certificate (e.g Voters' card, Identity Card or Drivers' License) to complete Verification. Click <a href="/dashboard/<%=userDetails._id%>">Here</a> to navigate back to your dashboard.</p>
</div>
<%-include('partials/dashFooter')-%>