<%-include('partials/header')-%>
<div class="plans">
    <div class="plans_head">
        <h2 data-aos="fade-left" data-aos-duration="1500">Our Investment Plans</h2>
        <p data-aos="fade-right" data-aos-duration="1500">Explore our well tailored and premium Investment offers for various budgets and expertise levels, guaranteed to get you started on your investment journey.</p>
    </div>

    <div data-aos="fade-up" data-aos-duration="1500" class="plan">
        <div class="plan_head">
            <div class="top block"><h4>BRONZE</h4>
                <p>Enjoy entry level of investments and earn money</p></div>
                <div class="bottom">
                    <div class="block">
                        <h3>5.0%</h3>
                        <p>Weekly Interest</p>
                    </div>
                    <div class="block">
                        <h3>7</h3>
                        <p>Days</p>
                    </div>
                </div>
        </div>
        <div class="plan_body">
            <div class="detail"><p>Min Deposit</p> <p style="justify-self: center;">-</p> <p style="justify-self: end;">$500.00</p></div>
            <div class="detail"><p>Max Deposit</p> <p style="justify-self: center;">-</p> <p style="justify-self: end;">$4,999.00</p></div>
            <div class="detail"><p>Renewable</p> <p style="justify-self: center;">-</p> <p style="justify-self: end;">Yes</p></div>
            <div class="detail"><p>Referral Bonus</p> <p style="justify-self: center;">-</p> <p style="justify-self: end;">10%</p></div>
            <a href="/register">GET STARTED</a>
        </div>
    </div>

    <div data-aos="fade-up" data-aos-duration="1500" class="plan">
        <div class="plan_head">
            <div class="top block"><h4>SILVER</h4>
                <p>Enjoy entry level of investments and earn money</p></div>
                <div class="bottom">
                    <div class="block">
                        <h3>6.5%</h3>
                        <p>Weekly Interest</p>
                    </div>
                    <div class="block">
                        <h3>7</h3>
                        <p>Days</p>
                    </div>
                </div>
        </div>
        <div class="plan_body">
            <div class="detail"><p>Min Deposit</p> <p style="justify-self: center;">-</p> <p style="justify-self: end;">$5,000.00</p></div>
            <div class="detail"><p>Max Deposit</p> <p style="justify-self: center;">-</p> <p style="justify-self: end;">$19,999.00</p></div>
            <div class="detail"><p>Renewable</p> <p style="justify-self: center;">-</p> <p style="justify-self: end;">Yes</p></div>
            <div class="detail"><p>Referral Bonus</p> <p style="justify-self: center;">-</p> <p style="justify-self: end;">10%</p></div>
            <a href="/register">GET STARTED</a>
        </div>
    </div>

    <div data-aos="fade-up" data-aos-duration="1500" class="plan">
        <div class="plan_head">
            <div class="top block"><h4>DIAMOND</h4>
                <p>Enjoy entry level of investments and earn money</p></div>
                <div class="bottom">
                    <div class="block">
                        <h3>7.5%</h3>
                        <p>Weekly Interest</p>
                    </div>
                    <div class="block">
                        <h3>7</h3>
                        <p>Days</p>
                    </div>
                </div>
        </div>
        <div class="plan_body">
            <div class="detail"><p>Min Deposit</p> <p style="justify-self: center;">-</p> <p style="justify-self: end;">$20,000.00</p></div>
            <div class="detail"><p>Max Deposit</p> <p style="justify-self: center;">-</p> <p style="justify-self: end;">$49,999.00</p></div>
            <div class="detail"><p>Renewable</p> <p style="justify-self: center;">-</p> <p style="justify-self: end;">Yes</p></div>
            <div class="detail"><p>Referral Bonus</p> <p style="justify-self: center;">-</p> <p style="justify-self: end;">10%</p></div>
            <a href="/register">GET STARTED</a>
        </div>
    </div>

    <div data-aos="fade-up" data-aos-duration="1500" class="plan heavy">
        <div class="plan_head">
            <div class="top block"><h4>PLATINUM</h4>
                <p>Enjoy entry level of investments and earn money</p></div>
                <div class="bottom">
                    <div class="block">
                        <h3>10.0%</h3>
                        <p>Weekly Interest</p>
                    </div>
                    <div class="block">
                        <h3>7</h3>
                        <p>Days</p>
                    </div>
                </div>
        </div>
        <div class="plan_body">
            <div class="detail"><p>Min Deposit</p> <p style="justify-self: center;">-</p> <p style="justify-self: end;">$50,000.00</p></div>
            <div class="detail"><p>Max Deposit</p> <p style="justify-self: center;">-</p> <p style="justify-self: end;">$1,000,000,000.00</p></div>
            <div class="detail"><p>Renewable</p> <p style="justify-self: center;">-</p> <p style="justify-self: end;">Yes</p></div>
            <div class="detail"><p>Referral Bonus</p> <p style="justify-self: center;">-</p> <p style="justify-self: end;">10%</p></div>
            <a href="/register">GET STARTED</a>
        </div>
    </div>

    <div  data-aos="fade-up" data-aos-duration="1500" class="outro">
        <h2>Let Us Help You Understand Us Better</h2>
        <p>Our team of professional customer service representatives are always available to assist you with your inquires, complaints and suggestions.</p>
        <a href="/contact">Contact Us</a>
    </div>

</div>
<%-include('partials/footer')-%>